.row {
    width: 100%;
    max-width: 1250px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

.card {
    position: relative;
}

.card-title {
    width: 200px;
    position: absolute;
    top: 230px;
    left: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #fff;
}

.card-img img {
    width: 296px;
    height: 313px;
}

@media (max-width: 1025px) {
    .row {
        width: 100%;
        max-width: 1025px;
        overflow-x: auto;
        flex-wrap: nowrap;
    }
}

@media (max-width: 769px) {
    .row {
        width: 100%;
        max-width: 769px;
        overflow-x: auto;
        flex-wrap: nowrap;
    }
}